---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: openshift-route-monitor-operator
  labels:
    control-plane: controller-manager
    app: route-monitor-operator
    component: operator
spec:
  selector:
    matchLabels:
      control-plane: controller-manager
      app: route-monitor-operator
      component: operator
  replicas: 1
  template:
    metadata:
      labels:
        control-plane: controller-manager
        app: route-monitor-operator
        component: operator
    spec:
      securityContext:
        runAsNonRoot: true
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: node-role.kubernetes.io/infra
                operator: Exists
            weight: 1
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/infra
          operator: Exists
      containers:
      - command:
        - /manager
        args:
        - --metrics-addr=127.0.0.1:8080
        - --leader-elect
        - --zap-log-level=$(LOG_LEVEL)
        - --blackbox-image=$(BLACKBOX_IMAGE)
        - --blackbox-namespace=$(BLACKBOX_NAMESPACE)
        env:
        - name: LOG_LEVEL
          # level 1 is debug, so when we want to raise the level we can
          value: "1"
        - name: BLACKBOX_IMAGE
          # override so you can pull any blackbox-exporter image you fancy
          # this value is the default value
          value: "quay.io/prometheus/blackbox-exporter:master"
        - name: BLACKBOX_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        image: controller:latest
        name: manager
        securityContext:
          allowPrivilegeEscalation: false
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          limits:
            cpu: 200m
            memory: 400Mi
          requests:
            cpu: 100m
            memory: 20Mi
      serviceAccountName: route-monitor-operator-system
      terminationGracePeriodSeconds: 10
