---
apiVersion: v1
data:
  controller_manager_config.yaml: |
    apiVersion: controller-runtime.sigs.k8s.io/v1alpha1
    kind: ControllerManagerConfig
    health:
      healthProbeBindAddress: :8081
    metrics:
      bindAddress: :8080
    webhook:
      port: 9443
    leaderElection:
      leaderElect: true
      resourceName: 431ceb26.my.domain
kind: ConfigMap
metadata:
  annotations:
    package-operator.run/phase: deploy
  name: route-monitor-operator-manager-config
  namespace: openshift-route-monitor-operator
