apiVersion: monitoring.openshift.io/v1alpha1
kind: RouteMonitor
metadata:
  name: routemonitor-sample
spec:
  route:
    namespace: openshift-console
    name: console
  slo:
    targetAvailabilityPercent: "99.5"
